<h1>Saque</h1>
<div class="saque-main">
    <form>
        <label for="saque-input">Valor: </label>
        <input type="text" id="saque-input" name="saque-input" required>
        <button id="saque-submit" type="Submit" name="saque-submit">Sacar</button>
    </form>
</div>
<div class="Menu-Box">
  <h2>Menu</h2>
  <table>
    <tr>
      <td><menu-extrato/></td>
      <td><menu-deposito/></td>
      <td><menu-saque/></td>
    </tr>
    <tr>
      <td><menu-transferir/></td>
      <td><menu-configuracao/></td>
      <td><menu-home/></td>
    </tr>
  </table>
</div>
