<h1>Saque</h1>
<div class="saque-main">
    <form>
        <label for="saque-input">Valor: </label>
        <input type="text" id="saque-input" name="saque-input" required>
        <button id="saque-submit" type="Submit" name="saque-submit">Sacar</button>
    </form>
</div>
<div class="Menu-Box">
  <h2>Menu</h2>
  <table>
    <tr>
      <td><menu-extrato (click)="redirectToPage('extrato-cliente')"/></td>
      <td><menu-deposito (click)="redirectToPage('deposito-cliente')"/></td>
      <td><menu-saque (click)="redirectToPage('saque-cliente')"/></td>
    </tr>
    <tr>
      <td><menu-transferir (click)="redirectToPage('')"/></td>
      <td><menu-configuracao (click)="redirectToPage('')"/></td>
      <td><menu-home (click)="redirectToPage('')"/></td>
    </tr>
  </table>
</div>


