<h1>Saque</h1>
<div class="saque-main">
    <form>
        <label for="saque-input">Valor: </label>
        <input type="text" id="saque-input" name="saque-input" required>
        <button id="saque-submit" type="Submit" name="saque-submit">Sacar</button>
    </form>
</div>
<div class="Menu-Box">
    <h2>Menu</h2>  
    <table>
      <tr>
        <td></td>
        <td>teste</td>
        <td>teste</td>
      </tr>
      <tr>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
      </tr>
      <tr>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
      </tr>
    </table>
  </div>
