.container {
    background-color: #fff;
    font-family: 'Font-Logo';
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 400px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 100px;
    float: left;
}

h2 {
    border-bottom: 1px solid black;
}

input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:hover {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px #007bff;
}

button {
    background-color: #7AC0CF;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #538590;
}

.container-2 {
background-color: #fff;
font-family: 'Font-Logo';
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
width: 400px;
padding: 20px;
margin-top: 10px;
margin-right: 100px;
float: right;
}
