<h3 class="title">CLIENTES</h3>

<div class="container">
  <table>
    <tr>
      <th>CPF</th>
      <th>NOME</th>
      <th>CIDADE</th>
      <th>ESTADO</th>
      <th>SALDO</th>
      <th>MAIS INFO</th>
    </tr>
    <tr>
      <td>12345678901</td>
      <td>Nome Teste</td>
      <td>Cidade Teste</td>
      <td>Estado Teste</td>
      <td>R$ 1.234,56</td>
      <td><button>CONSULTAR</button></td>
    </tr>
    <tr>
      <td>12345678901</td>
      <td>Nome Teste</td>
      <td>Cidade Teste</td>
      <td>Estado Teste</td>
      <td>R$ 1.234,56</td>
      <td><button>CONSULTAR</button></td>
    </tr>
  </table>
</div>
