<h3 class="title">SOLICITAÇÕES DE CADASTRO</h3>

<div class="container">
  <table>
    <tr>
      <th>CPF</th>
      <th>EMAIL</th>
      <th>SALÁRIO</th>
      <th class="approve"></th>
      <th class="reject"></th>
    </tr>
    <tr>
      <td>12345678901</td>
      <td>user@example.com</td>
      <td>R$ 1.234,56</td>
      <td class="approve">
        <button class="approve-button">APROVAR</button>
      </td>
      <td class="reject">
        <button class="reject-button">RECUSAR</button>
      </td>
    </tr>
    <tr>
      <td>12345678902</td>
      <td>user2@example.com</td>
      <td>R$ 2.345,67</td>
      <td class="approve">
        <button class="approve-button">APROVAR</button>
      </td>
      <td class="reject">
        <button class="reject-button">RECUSAR</button>
      </td>
    </tr>
  </table>
</div>
