<h1>Extrato</h1>
<div>
<form>
    <div class="coluna-form">
        <label for="extrato-inicial">Data inicial: </label>
        <input type="text" id="extrato-inicial" name="extrato-inicial" required>
    </div>
    <div class="coluna-form">
        <label for="extrato-final">Data final: </label>
        <input type="text" id="extrato-final" name="extrato-final" required>
    </div>
    <button id="extrato-submit" type="Submit" name="extrato-submit">Gerar</button>
</form>
</div>
<div class="Menu-Box">
    <h2>Menu</h2>  
    <table>
      <tr>
        <td><menu-extrato (click)="redirectToPage('extrato-cliente')"/></td>
        <td><menu-deposito (click)="redirectToPage('deposito-cliente')"/></td>
        <td><menu-saque (click)="redirectToPage('saque-cliente')"/></td>
      </tr>
      <tr>
        <td><menu-transferir (click)="redirectToPage('')"/></td>
        <td><menu-configuracao (click)="redirectToPage('')"/></td>
        <td><menu-home (click)="redirectToPage('inicial-cliente')"/></td>
      </tr>
    </table>
  </div>
  <div class="extrato-main"></div>