.footer{
    margin: 0;
    padding: 20px;
    background-color: #7AC0CF;
    bottom: 0px;
    position: absolute;
    width: 97.4%;
    height: 30px;
}


.footer-brand{
    font-family: 'Font-Logo';
    color: white;
    text-align: right;
    margin-bottom: 20px;
}

