<div class="Menu-Box">
  <h2>Menu</h2>  
  <table>
    <tr>
      <td><menu-extrato (click)="redirectToPage('')"/></td>
      <td><menu-deposito (click)="redirectToPage('')"/></td>
      <td><menu-saque (click)="redirectToPage('')"/></td>
    </tr>
    <tr>
      <td><menu-transferir (click)="redirectToPage('')"/></td>
      <td><menu-configuracao (click)="redirectToPage('')"/></td>
      <td><menu-clientes (click)="redirectToPage('')"/></td>
    </tr>
    <tr>
      <td><menu-top-clientes (click)="redirectToPage('')"/></td>
      <td><menu-gerentes (click)="redirectToPage('')"/></td>
      <td><menu-home (click)="redirectToPage('')"/></td>
    </tr>
  </table>
</div>
