.Menu-Box {
  background-color: #f3f3f3;
  font-family: 'Font-Logo';
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 380px;
  height: 380px;
  padding: 20px;
  margin-top: 10px;
  margin-right: 150px;
  float: right;
  position: relative;
}

/* .Menu-Box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-color: #7AC0CF;
  z-index: 1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
} */

h2 {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  font-family:'Font-Logo';
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  padding: 10px;
  text-align: center;
}

td:hover {
  background-color: #07070734;
  border-radius: 10px;
}


