<div class="container">
    <h2>Já é nosso cliente? Faça seu login</h2>  
    <form action="" method="post">
      <label for="uname"><b>E-mail</b></label>
      <input type="text" placeholder="Digite seu e-mail" name="uname" required>
  
      <label for="psw"><b>Senha</b></label>
      <input type="password" placeholder="Digite sua senha" name="psw" required>
  
      <div class="clearfix">
        <button type="submit">Logar</button>
      </div>
    </form>
  </div>
  <div class="container-2">
    <h2>Senão, cadastra-se já!</h2>  
    <form action="" method="post">
      <label for="uname"><b>Nome</b></label>
      <input type="text" placeholder="Digite seu nome completo" name="uname" required>

      <label for="uemail"><b>E-mail</b></label>
      <input type="text" placeholder="Digite seu e-mail" name="uemail" required>

      <label for="ucpf"><b>CPF</b></label>
      <input type="text" placeholder="Insira seu CPF" name="ucpf" required>

      <label for="usalario"><b>Salário mensal</b></label>
      <input type="text" placeholder="Insira seu salário mensal" name="usalario" required>
  
      <label for="psw"><b>Senha</b></label>
      <input type="password" placeholder="Digite sua senha" name="psw" required>
  
      <div class="clearfix">
        <button type="submit">Cadastrar</button>
      </div>
    </form>
  </div>